/* ===== CHANGELOG / TODO ===== */

#changelog_tytul {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SigmaFont;
    font-size: 35px;
    border-radius: 40px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background-color: rgba(192, 240, 239, 0.5);
}

#changelog_tytul span {
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 1) 1%,
        rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #0044a495;
}

#changelog_zawartosc {
    height: 340px;
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(214, 224, 253);
}
