/* ===== LAYOUT GŁÓWNY ===== */

#baner, #nawigacja, #zawartosc, #changelog, #sociale, #footer {
    position: relative;
    z-index: 2;
}

#baner {
    display: flex;
    align-items: center;
    font-family: SigmaFont;
    font-size: 40px;
    text-align: center;
    width: 80%;
    height: 100px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 100px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.5) 1%,
        rgba(169, 197, 214, 0.5) 49%,
        rgba(116, 172, 207, 0.5) 100%);
}

#baner h1 {
    margin-left: 2%;
}

#nawigacja {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 100px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.5) 1%,
        rgba(169, 197, 214, 0.5) 49%,
        rgba(116, 172, 207, 0.5) 100%);
}

#zawartosc {
    font-family: Arial;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59%;
    height: 500px;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 30px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(143, 209, 235, 0.5) 1%,
        rgba(23, 23, 87, 0.5) 50%,
        rgba(132, 205, 250, 0.5) 100%);
    transition: opacity 0.1s ease;
}

#zawartosc h2 {
    width: 100%;
}

#changelog {
    backdrop-filter: blur(3px);
    width: 20%;
    height: 400px;
    float: left;
    margin-top: 1%;
    border-radius: 30px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.5) 1%,
        rgba(169, 197, 214, 0.5) 49%,
        rgba(116, 172, 207, 0.5) 100%);
}

#sociale {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 20%;
    height: 80px;
    float: left;
    margin-top: 20px;
    border-radius: 30px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.5) 1%,
        rgba(169, 197, 214, 0.5) 49%,
        rgba(116, 172, 207, 0.5) 100%);
}

#footer {
    width: 80%;
    height: 100px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 40px;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.5) 1%,
        rgba(169, 197, 214, 0.5) 49%,
        rgba(116, 172, 207, 0.5) 100%);
}
