/* ===== NAWIGACJA - PRZYCISKI ===== */

.naw_button {
    transition-duration: 0.1s;
    font-family: SigmaFont;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 40px;
    border-radius: 100px;
    width: 12%;
    outline: 5px solid rgba(199, 255, 255, 0.5);
    border: none;
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 0.8) 1%,
        rgba(169, 197, 214, 0.9) 49%,
        rgba(116, 172, 207, 0.9) 100%);
}

.naw_button span {
    white-space: nowrap;
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 1) 1%,
        rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #0044a495;
    background-clip: text;
}

.naw_button:hover {
    cursor: pointer;
    font-size: 41px;
    transition-duration: 0.1s;
    outline: 5px solid rgb(191, 236, 236);
}

/* ===== FIX DLA PRZYCISKU PROJEKTY ===== */

.naw_button.long-text {
    font-size: 35px;
}

.naw_button.long-text:hover {
    font-size: 36px;
}