/* ===== KLASY TEKSTOWE - GRADIENTY ===== */

.TekstGradient {
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 1) 1%,
        rgba(255, 255, 255, 1) 100%);
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #0044a495;
}

.StopkaGradient {
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-family: SigmaFont;
    background: linear-gradient(0deg,
        rgba(96, 177, 209, 1) 1%,
        rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #0044a495;
}
